# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Media files (these are downloaded dynamically)
tracks/
media/
fallback/

# Data files (these are generated dynamically)
data/
token.json
dymmy.json
test.json

# Config files (these may contain sensitive information)
config/
.env

# Cache
cache
.docker

# Runtime data
.pid
*.pid

# Test files
test.js

# Audio files
*.mp3